.create-schema-page {
  max-width: 100%;
}

.create-schema-page h1 {
  margin-bottom: 1rem;
}

.side-by-side {
  display: flex;
  @media(max-width: 1023px) {
  flex-direction: column;
}
}

.side-by-side > *:first-child {
  border-right: var(--gen-border-thick);
  margin-right: 1rem;
  padding-right: 1rem;
}

.side-by-side > * {
  width: 50%;
   @media(max-width: 1023px) {
    width:100%;
  }
}
