.page {
  padding: 1rem;
  padding-top: 2rem;
  flex-grow: 1;
  max-width: 1000px;
  margin-inline: auto;
}

.navbar-ShowHide{
  margin: 0;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1010;
/* if the screen is large enough no need to show hide nav bar so do not display the button */
  @media(min-width: 1024px) {
    display:none;
  }
}
