.schemas-list {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  position:relative;
}
.schemas-list tr::before{
  content:""; 
  background-color: var(--gen-col-bg-panel);
  width: 100%;
  height:3rem;
  position:absolute;
  z-index: -1;
  border-radius: var(--gen-border-radius);
  
}

.schemas-list td {
  padding-block: 0.75rem;
  padding-bottom:1.25rem;
}

.schemas-list .slug {
  font-weight: var(--gen-fw-bold);
  padding-right: 4rem;
  padding-left:1rem;
}

.schemas-list .fields {
  color: var(--gen-col-text-muted);
  width: 100%;
}

.schemas-list .controls {
  display: flex;
  gap: 0.5rem;
  padding-right:1rem;
}
