.schema-preview .json {
  border: var(--gen-border);
  background-color: var(--gen-col-bg-panel);
  border-radius: var(--gen-border-radius);
  padding: 0.5rem;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  @media screen and (max-width:1024px){
  font-size: 12px;
}
}

.schema-preview  .example-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}