.schemas-list {
  margin-top: 1rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.schemas-list td {
  background-color: var(--gen-col-bg-panel);
  padding-block: 0.75rem;
}

.schemas-list td:first-child {
  padding-left: 1rem;
  border-top-left-radius: var(--gen-border-radius);
  border-bottom-left-radius: var(--gen-border-radius);
}

.schemas-list td:last-child {
  padding-right: 1rem;
  border-top-right-radius: var(--gen-border-radius);
  border-bottom-right-radius: var(--gen-border-radius);
}

.schemas-list .slug {
  font-weight: var(--gen-fw-bold);
  padding-right: 4rem;
}

.schemas-list .fields {
  color: var(--gen-col-text-muted);
  width: 100%;
}

.schemas-list .controls {
  display: flex;
  gap: 0.5rem;
}
