.sidebar {
  background-color: var(--gen-col-bg-inset);
  height: 100vh;
  max-height: 100%;
  width: 15%;
  padding-top: 2%;
}

.sidebar-heading {
  margin-inline: 5%;
  margin-bottom: 5%;
  background-color: var(--gen-col-primary);
  color: var(--gen-col-text-on-primary);
  padding-inline: 2%;
  padding-block: 2%;
  border-radius: var(--gen-border-radius);
  display: flex;
  align-items: center;
  @media screen and (min-width:1024px){
    margin-inline: 5%;
    margin-bottom: 5%;
    padding-inline: 5%;
    padding-block: 5%;
  }
  
}

.sidebar-heading > svg {
  position: relative;
  top: 1%;
  @media screen and (min-width:1024px){
    font-size: 28px;}
}

.sidebar-heading h1 {
  font-size: 16px;
  margin-left: 1%;
  @media screen and (min-width:1024px){
    font-size: 32px;
    margin-left: 5%;}
}

.sidebar-heading .menu-btn {
  margin-left: auto;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.sidebar-link {
  font-size: 10px;
  margin-inline: 2%;
  padding: 3%;
  padding-left: 1rem;
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: var(--gen-border-radius);
  text-decoration: none;
  color: var(--gen-col-text);
  transition: background-color 200ms ease-in-out;
  @media screen and (min-width:1024px){
    font-size: 28px;}
}

.sidebar-link:hover {
  background-color: var(--gen-col-bg-hover);
}

.sidebar-link.active {
  position: relative;
  color: var(--gen-col-primary);
  background-color: var(--gen-col-bg);
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  --corner-size: calc((var(--gen-border-radius) + 15%) / 2);
  --corner-width: 0.5%;
  
}

.sidebar-link.active::before,
.sidebar-link.active::after {
  content: '';
  display: block;
  position: absolute;
  right: calc(-1 * var(--corner-width));
  width: var(--corner-size);
  height: var(--corner-size);
  border: var(--corner-width) solid var(--gen-col-bg);
  border-left: none;
  pointer-events: none;
}

.sidebar-link.active::before {
  top: calc(-1 * var(--corner-size));
  border-bottom-right-radius: 100%;
  border-top: none;
}

.sidebar-link.active::after {
  bottom: calc(-1 * var(--corner-size));
  border-top-right-radius: 100%;
  border-bottom: none;
}
